sources:
  - name: github_repos
    url: https://api.github.com/apitap/repos
    table_destination_name: apitap_github_repos
    primary_key_in_dest: id
    data_path: /data
    headers:
      - key: Authorization
        value: Bearer XXXXXXXXXXXXXXXXXss
      - key: Content-Type
        value: application/json
    pagination:
      kind: page_number
      page_param: page
      per_page_param: per_page
    retry:
      max_attempts: 3
      max_delay_secs: 5
      min_delay_secs: 1

targets:
  - name: postgres_sink
    type: postgres
    auth:
      username: postgres
      password: postgres
    host: localhost
    database: apitap
