sources:
  - name: github_repos
    url: https://api.github.com/users/octocat/repos
    table_destination_name: octocat_github_repos
    primary_key_in_dest: id
    headers:
      - key: Authorization
        value: Bearer xxxxxxxxx
      - key: User-Agent
        value: ApiTap/1.0
    pagination:
      kind: page_number
      page_param: page
      per_page_param: per_page
    retry:
      max_attempts: 3
      max_delay_secs: 5
      min_delay_secs: 1

targets:
  - name: postgres_sink
    type: postgres
    auth:
      username: poatgres
      password: poatgres
    host: localhost
    database: apitap
